/* 가로 넓이 */
.width375 {
    width: 400px;
}

.width400 {
    width: 400px;
}

.width430 {
    width: 430px;
}

.width512 {
    width: 512px;
}

/* flex 설정 */
.flex-center {
    display: flex;
    justify-content: center;
}